# Python bytecode files
__pycache__/
*.pyc

# Distribution files
dist/
build/
*.egg-info/

# GH Pages
*.html.gz

# Virtual environment
venv/
env/
.venv

# Secrets
.env
db.sqlite3
.cert

# misc
.DS_Store
_temp
status_duckdns.log
_notes
