name: ms-auth2html

on:
  push:
    branches:
      - dev
    paths:
      - 'docs/openapi/ms-auth.yaml'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Generate HTML Documentation and Commit Changes
      run: |
        npm i api2html -g
        api2html -o ./docs/ms-auth.html -c ./ms_frontend/root/public/images/moon-dog.jpg -l javascript,python ./docs/openapi/ms-auth.yaml

        # Create the index.html file
        cat > ./docs/index.html <<EOL
        <!DOCTYPE html>
        <html>
        <head>
          <title>OpenAPI Documentation</title>
          <style>
            body {
              margin: 0;
              font-family: Arial, sans-serif;
            }
        
            .wrapper {
              display: flex;
              flex-direction: column;
              min-height: 100vh;
            }
        
            .top-frame {
              background-color: #333;
              color: #fff;
              padding: 10px;
              display: flex;
              justify-content: center;
              position: sticky;
              top: 0;
              z-index: 999;
            }
        
            .top-frame a {
              color: #fff;
              text-decoration: none;
              margin: 0 10px;
              padding: 5px 10px;
              border-radius: 5px;
              transition: background-color 0.3s;
            }
        
            .top-frame a:hover {
              background-color: #555;
            }
        
            .content {
              flex-grow: 1;
              padding: 20px;
            }
          </style>
        </head>
        <body>
          <div class="wrapper">
            <div class="top-frame">
              <a href="ms-auth.html">ms-auth</a>
              <a href="game-chat.html">game-chat</a>
              <a href="vault.html">vault</a>
              <a href="api-gateway.html">api-gateway</a>
            </div>
        
            <div class="content">
              <h1>OpenAPI Documentation</h1>
              <p>Welcome to the OpenAPI documentation for our project. Please click on the links above to view the documentation for each module.</p>
              <!-- Add more content here -->
            </div>
          </div>
        </body>
        </html>
        EOL

        git config --global user.name 'GitHub Actions'
        git config --global user.email 'github-actions@github.com'
        git add ./docs/ms-auth.html
        git add ./docs/index.html
        git commit -m 'Update OpenAPI documentation for ms-auth'
        git push

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs/
